/**********************/
/* Button cntainer */
.block_closed_loop_support.button-container {
    z-index: 2 !important;
    position: relative;
}

/**********************/
/* Button cntainer */
.block_closed_loop_support.button-container:hover {
    background-color: black;
}

/**********************/
/* Button position */
.block_closed_loop_support.button-container .loopButton {
    position: absolute;
    right: -18px;
    top: 0;
}

.block_closed_loop_support.button-container .btn-success{
    line-height: 1.2;
}

.cell_color{
    color: orange;
    font-weight: bold;
}


/*************************************/
/* Everythin for add response button'*/
/*************************************/
.dropdown-response {
  z-index: 2;
  position: relative;
}

.responsespan{
  position: absolute;
  right: 82px;
  top: 0;
}

.addResponseBtn{
  background-color: #3498DB;
  color: white;
  border: none;
  cursor: pointer;
  line-height: 1.2;
}

.addResponseBtn:hover, .addResponseBtn:focus {
  background-color: #2980B9;
}


.dropdown-content-response {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content-response a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-response a:hover {background-color: #ddd;}

.dropdown-response-show {display: block;}


.scrollListUL{
    height: 150px;
    overflow:hidden;
    overflow-y:auto;
}