/*
Classes for closed-loop-button are adapted from
the moodle plugin 'Point of view - Feedback'
developed by: Quentin Fombaron and Astor Bizard
https://moodle.org/plugins/block_point_view
Release v1.6.3
*/

/* Button cntainer */
.block_closed_loop_support.button-container {
    z-index: 2 !important;
    position: relative;
}

/* Button position */
.block_closed_loop_support.button-container .loopButton {
    position: absolute;
    right:-18px;
    top: 0;
}

/* Set size (width) of button*/
.block_closed_loop_support.button-container .btn-success{
    line-height: 1.2;
}

/* Color of new row in request-overview-table*/
.cell_color{
    color: orange;
    font-weight: bold;
}
